html, body {
    height: 100%;
    overflow: auto;
}

body {
    margin: 0 0 100px 0;
    font-family: 'Roboto', sans-serif;
   
}

/*flex container*/

#wrapper {
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 20rem;
}

.flex-container {
    display: flex;
    flex-flow: wrap;
}

/*Nav section */

#navbar { 
    position: absolute;
    right: 0;
}

.nav-collapse {
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
}

#navbar > ul {
    list-style-type: none;
    margin:10px;
    padding:0;
}

#navbar > ul > li {
    border-radius: 5px;
    margin-left: 5px;
    float: left;
    color: #9e5a63;
}

#navbar > ul > li > a {
    display: block;
    border-radius: 5px;
    width: 60px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: #9e5a63;
}

#navbar > ul > li > a:hover {
    background-color: #9e5a63;
    color: white !important;
}

.active {
    background-color: #9e5a63;
    font-weight: 600;
    color: white;
}

a.active {
    color: white !important;
}

/*header section */
#header{
    width:40%;
    min-height: 100vh;
    background-color: #97aabd;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 60px 20px 60px;
    z-index: 1;
}

#header .heading-line {
    display: block;
    height: 18px;
    width: 220px;
    background-color: white;
    position: absolute;
    margin-top: -40px;
    z-index: -1;
    opacity: 75%;
}

header button {
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    border: 3px solid #5d5c61;
    background-color: transparent;
    color: #5d5c61;
    font-weight: 600;
    font-size: 16px;
    z-index: 1000;
    transition: background-color 1s;
    margin-top: 10px;
}

#portfolio-btn {
    visibility: hidden;
}

header button:hover {
    cursor: pointer;
    background-color: #5d5c61;
    color: #b1a296;
}

/*content section */
#content {
    width: 60%;
    padding: 20px 60px 20px 60px;
    box-sizing: border-box;
    align-self: center;
}

#content-wrapper {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

#content .heading-line {
    display: block;
    height: 14px;
    width: 100px;
    background-color: #9e5a63;
    position: absolute;
    margin-top: -16px;
    z-index: -1;
    opacity: 75%;
}

section > h2 {
    margin: 0;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    
}

.portfolio-item {
    position: relative;
    box-sizing: border-box;
    margin:10px;
}

.portfolio-item img {
    border-radius: 50%;
    width: 250px;
    height: auto;
    opacity: 80%;
    
}

.portfolio-item a {
    color: black;
}

.overlay {
    /*Image overlay effect tutorial: https://www.w3schools.com/howto/howto_css_image_overlay.asp*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;
    transition: 1s ease;
    opacity: 0;
}

.portfolio-item:hover img {
    opacity: 0.3;
}
  
.portfolio-item:hover .overlay {
    opacity: 1;
}

.portfolio-item h3 {
    padding: 10px;
    border-radius: 25px;
    opacity: 80%;
    background-color: #314455;
    color: white;
}

.clear-float {
    clear:left;
}

/*About page*/

#about-header{
    width:60%;
    min-height: 100vh;
    background-color: #97aabd;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 60px 20px 60px;
    z-index: 1;
}

#about-header .heading-line {
    display: block;
    height: 18px;
    width: 90px;
    background-color: white;
    position: absolute;
    margin-top: -20px;
    z-index: -1;
    opacity: 75%;
}

#about-content {
    width: 40%;
    padding: 20px 60px 20px 60px;
    box-sizing: border-box;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-content > div {
    padding: 20px 0 0 0;
    box-sizing: border-box;
    text-align: center;
}

.flex-container ul {
    list-style-type: none;
    padding:0;
    margin: 0;
}

.flex-container ul > li {
    box-sizing: border-box;
    float: left;
    margin: auto;
}

#about-content ul > li {
    padding: 3px;
}

#about-header li {
    background-color: #314455;
    border-radius: 5px;
    padding: 10px 15px;
    min-width: 50px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    color: white;
    font-weight: 600;
}

li img {
    width: 40px;
}

li img:hover {
    width: 38px;
}

#about-content p {
    margin: 5px 0 5px 0;
    font-size: 15px;
    font-weight: 600;
}

/*Contact page section */

#contact-wrapper {
    width:60%;
    min-height: 100vh;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin: auto;
}

#contact-wrapper h1 {
    margin: 0;
}

#contact-wrapper .heading-line {
    display: block;
    height: 18px;
    width: 180px;
    background-color: #9e5a63;
    position: absolute;
    margin-top: -20px;
    z-index: -1;
    opacity: 75%;
}

#contact-wrapper > div{
    margin: 10px;
}

form {
    border: 1px solid gray;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

form div {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

form input, form textarea {
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 1px 3px 10px -4px #48474b inset;
}

form input:focus, form textarea:focus {
    background-color: grey;
    border: 1px solid darkgray;
}

#contact-wrapper input:focus {
    color: white;
}

form label {
    font-weight: 600;
}

.form-2col {
    display: flex;
    padding: 0;
}

form button {
    background-color: transparent;
    color: #5d5c61;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    min-width: 100px;
    border-radius: 25px;
    border: 3px solid #5d5c61;
    transition: background-color 2s;
}

form button:hover {
    background-color: #5d5c61;
    color: #b1a296;
    cursor: pointer;
}

/*footer section */
#push {
    height: 100px;
}

#footer {
    width: 100%; 
    height: 20rem; 
    background-color:#5d5c61;
    position: absolute;
    bottom: 0;
    color: #b1a296;
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px -2px #48474b inset;

}

footer {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer > div {
    width: 300px;
    margin-top: 20px;
    box-sizing: border-box;
    
}

footer form {
    border: none;
    padding: 0;
}

footer form > div {
    padding: 10px 0 0 0;
    font-weight: 400;
}

#footer p {
    display: block;
    width: 100%;
    padding-bottom: 5px;
}

footer form > div > label {
    font-weight: 400;
    font-size: 12px;
}

footer input, footer textarea {
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
    background-color: grey;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 5px;
    margin-top: 5px;
}

footer input:focus, footer textarea:focus {
    background-color: lightgray;
    border: 1px solid gray;
}

footer button {
    border: 3px solid #b1a296;
    color: #b1a296;
    background-color: transparent;
    transition: background-color 2s;
}

footer button:hover {
    color: #5d5c61;
    background-color: #b1a296;
}

footer p {
    display: block;
    margin: 0;
    padding: 0;
    width: 20%;
    float: left;
}

footer ul {
    display: block;
    list-style-type: none;
    float: left;
    margin: 10px 0 10px 0;
    width: 100%;
    padding:0;
}

footer ul > li {
    display: block;
    float: left;
    padding-right: 10px;
}

footer a {
    text-decoration: none;
    color: #b1a296;
}

@media (max-width: 1200px) {
    #wrapper {
        padding-bottom: 28rem;
    }
    #header, #content {
      width: 100%;
    }
    #about-header, #about-content {
        width: 100%;
      }
    #header{
        min-height:auto;
    }
    #about-header{
        min-height:auto;
        padding: 60px;
    }
    #about-content{
        min-height:auto;
        padding: 60px;
    }
    #contact-wrapper {
        width: 80%;
    }
    #footer { 
        height: 28rem; 
    }
  }

@media (max-width: 660px) {
    .nav-collapse {
        visibility: visible;
    }
    #navbar {
        visibility: hidden;
    }
    
#portfolio-btn {
    visibility: visible;
}
    .port-container {
      flex-direction: column;
      justify-content: center;
    }
    .port-item {
        width: 100%;
    }
    #header{
        min-height:auto;
        padding: 40px 10px 20px 10px;
    }
    #content {
        padding: 20px 10px 20px 10px;
    }
    #about-header{
        padding: 40px 10px 20px 10px;
    }
    #about-content{
        padding: 30px;
    }
    #about-content > img{
        width: 200px;
        height: auto;
    }
    #contact-wrapper {
        width: 100%;
    }
    .form-2col {
        flex-direction: column;
    }
    form div {
        padding: 5px;
    }
    form {
        padding: 10px;
    }
    .overlay {
        opacity: 1;
    }
    
}

.nav-collapse ul {
    list-style-type: none;
    margin: 0;
    z-index: 2;
}

.nav-collapse input {
    display: block;
    position: absolute;
    width: 40px;
    height: 32px;
    z-index: 4;
    opacity: 0%;
    cursor: pointer;
    margin-left: -10px;
}

.dropdown ul {
    position: absolute;
    margin-left: -250px;
    margin-top:-40px;
    width: 600px;
}

.dropdown ul li {
    border-bottom: 1px solid #91847a;
    padding: 10px;
    background-color: #b1a296;
}

.dropdown ul li > a {
    display: block;
    border-radius: 5px;
    width: 60px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: white;
}

#menuToggle span /* Nav animation code from: https://codepen.io/erikterwan/pen/EVzeRP */{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #9e5a63;
  border-radius: 3px;
  z-index: 3;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}


.nav-collapse ul ul {
    display: none;
}

.nav-collapse input:checked ~ ul {
    display: block;
}

