html, body {
    height: 100%;
    overflow: auto;
}

body {
    margin: 0 0 100px 0;
    font-family: 'Roboto', sans-serif;
   
}

/*flex container*/

#wrapper {
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 10rem;
}

.flex-container {
    display: flex;
    flex-flow: wrap;
}

/*Nav section */

#navbar { 
    position: absolute;
    right: 0;
}

#navbar > ul {
    list-style-type: none;
    margin:10px;
    padding:0;
}

#navbar > ul > li {
    border-radius: 5px;
    margin-left: 5px;
    float: left;
    color: #9e5a63;
}

#navbar > ul > li > a {
    display: block;
    border-radius: 5px;
    width: 60px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: #9e5a63;
}

#navbar > ul > li > a:hover {
    background-color: #9e5a63;
    color: white !important;
}

.active {
    background-color: #9e5a63;
    font-weight: 600;
    color: white;
}

a.active {
    color: white !important;
}

/*header section */
#header{
    width:40%;
    min-height: 100vh;
    background-color: #97aabd;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 60px 20px 60px;
    z-index: -2;
    /*transform: translate(-50%, 0%);
    transition: transform 2s;*/
}

#header .heading-line {
    display: block;
    height: 18px;
    width: 220px;
    background-color: white;
    position: absolute;
    margin-top: -20px;
    z-index: -1;
    opacity: 75%;
}

/*#header:hover {
    transform: none;
}*/


.btn.contact {
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    border-style: none;
    background-color: #fff;
    color: #05386b;
    font-weight: 600;
    font-size: 16px;
}

/*content section */
#content {
    width: 60%;
    padding: 20px 60px 20px 60px;
    box-sizing: border-box;
    align-self: center;
}

#content-wrapper {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

#content .heading-line {
    display: block;
    height: 14px;
    width: 100px;
    background-color: #9e5a63;
    position: absolute;
    margin-top: -16px;
    z-index: -1;
    opacity: 75%;
}

section > h2 {
    margin: 0;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    
}

.portfolio-item {
    position: relative;
    box-sizing: border-box;
    margin:10px;
}

.portfolio-item img {
    border-radius: 50%;
    width: 250px;
    height: auto;
    opacity: 80%;
    
}

.portfolio-item a {
    color: black;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;
    transition: 1s ease;
    opacity: 0;
}

.portfolio-item:hover img {
    opacity: 0.3;
}
  
.portfolio-item:hover .overlay {
    opacity: 1;
}

.portfolio-item h3 {
    
    padding: 10px;
    border-radius: 15px;
    opacity: 80%;
    background-color: slategray;
    color: white;
}

.clear-float {
    clear:left;
}

/*About page*/

#about-header{
    width:60%;
    min-height: 100vh;
    background-color: #97aabd;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 60px 20px 60px;
    z-index: -2;
}

#about-header .heading-line {
    display: block;
    height: 18px;
    width: 90px;
    background-color: white;
    position: absolute;
    margin-top: -20px;
    z-index: -1;
    opacity: 75%;
}

#about-content {
    width: 40%;
    padding: 20px 60px 20px 60px;
    box-sizing: border-box;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-content > div {
    padding: 20px 0 0 0;
    box-sizing: border-box;
    text-align: center;
}

.flex-container ul {
    list-style-type: none;
    padding:0;
    margin: 0;
}

.flex-container ul > li {
    box-sizing: border-box;
    float: left;
    margin: auto;
}

#about-content ul > li {
    padding: 3px;
}

#about-header li {
    background-color: grey;
    border-radius: 5px;
    padding: 10px 15px;
    min-width: 50px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    color: white;
    font-weight: 600;
}

li img {
    width: 40px;
}

li img:hover {
    width: 38px;
}

#about-content p {
    margin: 5px 0 5px 0;
    font-size: 15px;
    font-weight: 600;
}

/*Contact page section */

#contact-wrapper {
    width:60%;
    min-height: 100vh;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin: auto;
}

#contact-wrapper .heading-line {
    display: block;
    height: 18px;
    width: 180px;
    background-color: #9e5a63;
    position: absolute;
    margin-top: -20px;
    z-index: -1;
    opacity: 75%;
}

#contact-wrapper > div{
    margin: 10px;
}

form {
    border: 1px solid gray;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

form div {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


form input {
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 5px;
}

form input:focus {
    background-color: grey;
    border: 1px solid darkgray;
}

form label {
    font-weight: 600;
}

.form-2col {
    display: flex;
    padding: 0;
}

form button {
    background-color: #008CBA;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    min-width: 100px;
    border-radius: 5px;
    border: 0; 
}

form button:hover {
    background-color: #006c91;
}

/*footer section */
#push {
    height: 100px;
}

#footer {
    width: 100%; 
    height: 10rem; 
    background-color:black;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 40px 20px 20px 20px;
    box-sizing: border-box;
}

footer {
    margin: auto;
    width: 50%;
}

footer p {
    display: block;
    margin: 0;
    padding: 0;
    width: 20%;
    float: left;
}

footer ul {
    display: block;
    list-style-type: none;
    float: left;
    margin: 0;
    width: 50%;
    padding:0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer div {
    float: left;
    width: 50%;
}

@media (max-width: 1200px) {
    #header, #content {
      width: 100%;
    }
    #about-header, #about-content {
        width: 100%;
      }
    #header{
        min-height:auto;
    }
    #about-header{
        min-height:auto;
        padding: 60px;
    }
    #about-content{
        min-height:auto;
        padding: 60px;
    }
    #contact-wrapper {
        width: 80%;
    }
  }

  @media (max-width: 660px) {
    .port-container {
      flex-direction: column;
      justify-content: center;
    }
    .port-item {
        width: 100%;
    }
    #header{
        min-height:auto;
    }
    #about-header{
        padding: 20px 30px 20px 30px;
    }
    #about-content{
        padding: 30px;
    }
    #about-content > img{
        width: 200px;
        height: auto;
    }
    #contact-wrapper {
        width: 100%;
    }
    .form-2col {
        flex-direction: column;
    }
    form div {
        padding: 5px;
    }
    form {
        padding: 10px;
    }
    .overlay {
        opacity: 1;
    }
    
}