html, body {
    height: 100%;
    overflow: auto;
}

body {
    margin: 0 0 100px 0;
    font-family: 'Roboto', sans-serif;
   
}

/*flex container*/

#wrapper {
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 10rem;
}

.flex-container {
    display: flex;
    flex-flow: wrap;
    height: 100%;
}

/*Nav section */
#navbar { 
    position: absolute;
    right: 0;
}

#navbar > ul {
    list-style-type: none;
    margin:10px;
    padding:0;
}

#navbar > ul > li {
    border-radius: 5px;
    margin-left: 5px;
    float: left;
}

#navbar > ul > li > a {
    display: block;
    border-radius: 5px;
    width: 60px;
    color: black;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-weight: 600;
}

#navbar > ul > li > a:hover {
    background-color: #05386b;
}

.active {
    background-color: #05386b;
    font-weight: 600;
}

/*header section */
#header{
    width:40%;
    min-height: 100vh;
    background-color: #5cdb95;display: flex;
    flex-flow: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 60px 20px 60px;
}


.btn.contact {
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    border-style: none;
    background-color: #fff;
    color: #05386b;
    font-weight: 600;
    font-size: 16px;
}

/*content section */
#content {
    width: 60%;
    padding: 20px 60px 20px 60px;
    box-sizing: border-box;
    align-self: center;
    
}

#content-wrapper {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

section > h2 {
    margin: 0;
}

.port-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 400px;
    overflow: auto;
    
    background-color: #edf5e1;
    border-radius: 5px;
}

.port-container::-webkit-scrollbar {
    width:10px;
}

.port-container::-webkit-scrollbar-track {
    background: #edf5e1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.port-container::-webkit-scrollbar-thumb {
    background: #5cdb95;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.port-container::-webkit-scrollbar-thumb:hover {
    background: #379683;
}

.port-item {
    width:45%;
    text-align: center;
    box-sizing: border-box;
    margin: 10px 0 10px 0;
    background-color: #5cdb95;
}

@media (max-width: 660px) {
    .port-container {
      flex-direction: column;
      justify-content: center;
    }
    .port-item {
        width: 100%;
    }
    #header{
        min-height:auto;
    }
}

.port-item > h3 {
    margin: 20px 0 10px 0;
}

.port-item > img {
    display: block;
    width: 100%;
}

.clear-float {
    clear:left;
}

/*Contact page section */

#contact-wrapper {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    flex-direction: column;
}

#contact-wrapper > div{
    margin: 10px;
}

form {
    border: 1px solid black;
    padding: 20px;
}

/*footer section */
#push {
    height: 100px;
}

#footer {
    width: 100%; 
    height: 10rem; 
    background-color:#05386b;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 40px 20px 20px 20px;
    box-sizing: border-box;
}

footer {
    margin: auto;
    width: 50%;
}

footer p {
    display: block;
    margin: 0;
    padding: 0;
    width: 20%;
    float: left;
}

footer ul {
    display: block;
    list-style-type: none;
    float: left;
    margin: 0;
    width: 50%;
    padding:0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer div {
    float: left;
    width: 50%;
}

@media (max-width: 1200px) {
    #header, #content {
      width: 100%;
    }
    #header{
        min-height:auto;
    }
  }